<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<META name="description" content="Serena L. Wang is a Computer Science Ph.D. student at UC Berkeley."><META name="keywords" content="computer science, machine learning, statistics">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include analytics.html %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
                <li><a href="/cat">Fun</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
    			<li><small>© 2020, Serena L. Wang</small></li>
			</ul>
		</footer>
	</body>
</html>
