<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<META name="description" content="Chapbook">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/chapbookmain">Back</a></li>
	        	<!--<li><a href="/projects">Projects</a></li>-->
        		<!--<li><a href="/writing">Writing</a></li>-->
        		<!--<li><a href="/blog">Blog</a></li>-->
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
    			<li><small>© 2016, Lydia T. Liu</small></li>
        		<!--<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>-->
        		<!--<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>-->
			</ul>
		</footer>
	</body>
</html>
